body{
    background-color: lightgray;
}

.mainDash {
   background-color: blue;
   color: white;
   padding: 30px;
}

h1{
    font-weight: 800;
    font-size: x-large;
    text-align: end;
    padding-right: 150px;
}

.userInput {
    display: flex;
    flex-direction: column;
}

.userInput input {
    margin-bottom: 10px;
}

#search-button{
    background-color: navy;
    color:white;
}

#history-list{
    padding-top: 10px;
}

.col-md-9{
    padding-left: 20px;
    display: grid;
    justify-content: left;
    border-color: navy; 
    border-style: solid;
}

#futureWeather{
    margin-top: 75px;
    padding: 100px;   
    display: flex;
    border-style: solid;
    border-color: navy;
}
