body{
    background-color: lightgray;
}

.mainDash {
   background-color: blue;
   color: white;
   padding: 30px;
}

h1{
    font-weight: 800;
    font-size: x-large;
    text-align: end;
    padding-right: 20px;
}

.userInput {
    display: flex;
    flex-direction: column;
}

.userInput input {
    margin-bottom: 10px;
}

#search-button{
    background-color: navy;
    color:white;
}

#history-list{
    padding-top: 10px;
}